<div class="form-heading col-sm-offset-2 col-sm-10">
  <h1>
    Actor <%= @actor.name %> Destroyed
  </h1>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <a href="/actors" class="btn btn-primary">Done</a>
  </div>
</div>
