<div class="form-header">
  <div class="col-sm-offset-2 col-sm-10">
    <h1>
      Destroyed <%= @movie.title %>
    </h1>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <a href="/movies" class="btn btn-primary">Done</a>
  </div>
</div>
